body {
    padding:10px 10px 10px 10px;
}

fieldset {
    margin-top: 10px;
    margin-bottom:10px;
}

label {
   
}

textarea {
    margin-top: 10px;
    width: 70%;
}

.mainDiv {
    margin:1px !important;
    height:80%;
    margin-bottom:5px !important;
}

.DeptArea {
    font-size:20px;
    margin:1px !important;
    height:10%;
    background-color:blue;
}

.othersArea {
    font-size:20px;
    margin:1px !important;
    height:10%;
    background-color:yellow;
}
.itemsArea {
   margin-right:1px !important;
}

.formArea {
    background-color: white;
    padding-bottom:10px !important;
    margin-right: 10px !important;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 26px;
    text-align: center;
}

.subtitle {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.fontSize {
    float: left;
    width: 40%;
}

.fontFamily {
    width: 55%;
}

#fontstyle {
    margin-bottom: 25px;
}

.btnsWrapper {
    float: left;
    margin-top: 20px;
    margin-right:10px;
}

.customBtn {
    margin: 1px;
    width: 35px;
}

.divdiv {
    float: left;
    margin-right: 15px;
}

.rowcustom{
    margin:10px;
}
.customBttn{
text-align:center;
}
