body {
    padding: 10px 10px 10px 10px;
}

fieldset {
    margin-top: 2px !important;
    margin-bottom: 10px;
}

legend {
    font-size: 14px !important;
    font-weight: bold;
    margin-bottom: 14px !important;
}

textarea {
    margin-top: 10px;
    width: 84%;
}

.mainDiv {
    margin: 1px !important;
    margin-bottom: 5px !important;
}

.DeptArea {
    width: 886px !important;
    font-size: 20px;
    margin: 1px !important;
    margin-bottom: 4px;
    height: 10%;
    padding-right: 10px;
}

.othersArea {
    padding: 2px;
    font-size: 20px;
    margin: 1px !important;
    height: 10%;
    padding-left: 60px;
    padding-right: 10px;
}

.itemsArea {
    overflow: auto;
    max-height: 443px !important;
}

.formArea {
    background-color: white;
    padding-bottom: 10px !important;
    margin-right: 0px !important;
}
.customRow{
        padding-right: 3px !important;
    padding-left: 3px !important;
}
.operationsArea {
    padding-bottom: 2px !important;
    padding-right:0px !important;
    padding-left:0px !important;
border-left: solid thin;
    margin-bottom: -50px;
}

.ordertableArea {
    width: 97% !important;
    height: 350px;
    overflow: auto;
    background-color: white;
}

.table thead th {
    text-align: center;
}

.tableBody tr {
    font-weight: bold;
    font-size: 12px !important;
}

#qty {
    text-align: center;
}

#price {
    text-align: right;
}

.totalRow {
    background-color: yellow;
    padding: 3px;
    margin-top: 5px;
    margin-right: -4px !important;
    font-size: 15px;
}

.cutomclass {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.arrows {
    margin-left: -30px;
    margin-bottom: 2px;
    height: 150px;
}

.title {
    color: black;
    font-size: 24px;
    text-align: center;
}

.subtitle {
    margin-bottom: 0px;
    color: black;
    font-size: 16px;
    text-align: center;
}

.fontSize {
    float: left;
    width: 40%;
}

.fontFamily {
    width: 55%;
}

#fontstyle {
    margin-bottom: 25px;
}

.btnsWrapper {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.customBtn {
    margin: 1px;
    width: 35px;
}

.divdiv {
    float: left;
    margin-right: 15px;
}

.menuBtn {
    font-size: 15px;
    font-weight: bold;
    height: 33px;
}

.rowcustom {
    margin: 8px;
}

.customBttn1 {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    border: groove;
    height: 100px;
    color: black !important;
}

.customBttn {
    font-weight: bold;
    font-size: 17px;
    height: 53px !important;
    width: 100%;
    margin: 2px;
    border: groove;
    margin-top: 13px;
}

.singleitem {
    width: 100%;
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
    height: 111px;
    border: groove;
    /*background-color: aqua;*/
}

.aquaBg {
    background-color: aqua;
}

.redBg {
    background-color: red;
    color: white;
}

.skyBlueBg {
    background-color: #628fe0;
    color: white;
}

.BlueBg {
    background-color: #628fe0;
    color: white;
}

.greenBg {
    background-color: #2be000;
    color: black;
}

.pinkBg {
    background-color: #f26cce;
    color: white;
}

.whiteBg {
    background-color: white;
}

.orangeBg {
    background-color: orange;
}

.selected {
    border: solid;
}

.DeptSelected {
    border: solid;
}

.BtnOpt {
    height: 44px;
    width: 68px;
    background-color: #33d448;
}

.totalArea {
    padding-top: 10px;
    height: 150px;
    border-top: solid thin;
    width: 100%;
}

.orderBtn {
    height: 60px;
    width: 100%;
}

.rowSelected {
    color: white;
    background-color: #0908a9;
}

.sizeVerBtn {
    background-color: #33f14c;
    font-weight: bold;
    color: black;
    font-size: 13px;
    height: 42px;
    width: 81%;
}
