@model IEnumerable<DataLayer.Entities.Categories>


@foreach (var item in Model)
{
    <div class="col-md-1 cusotomCol">
        @Ajax.ActionLink(item.Title, "GetCategorySizes", new { categoryId = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "itemsArea", InsertionMode = InsertionMode.Replace }, new { @class = "btn extrasCat", @style = "background-color:" + item.BackgroundColor + ";color:" + item.TextColor + ";" })
        <input type="hidden" value="@item.Id" />
    </div>
}
<style>
    .extrasCat {
        font-weight: bold !important;
        font-size: 17px !important;
        margin: 2px;
        border: groove !important;
        border-radius: 0px !important;
        height: 70px !important;
        width: 100%;
        max-width: 100%;
        white-space:normal !important;
    }
</style>

