@model IEnumerable<DataLayer.Entities.Sizes>


<div class="row" id="sizeDiv">
    @foreach (var item in Model)
    {
        <div class="col-md-4 cusotomCol"><button class="singleSizeitem" style="background-color:aqua;color:black">@item.Title</button><input id="@item.Id" type="hidden" value="" /></div>
    }
   
</div>

