
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/styles/menuitems.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/customscripts/myscript.js"></script>
    <title>MenuItem</title>
</head>
<body style="background-color: darkblue;">

    <div class="row mainDiv">
        <div class="col-lg-8 itemsArea">

            <div class="row">
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
            </div>
            <div class="row">
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
            </div>
            <div class="row">
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
            </div>
            <div class="row">
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
                <div class="col-md-2"><button class="singleitem"></button></div>
            </div>
        </div>
        <div class="formArea col-lg-4">
            <div class="title">Pizza</div>
            <div class="subtitle">Verieties</div>
            <div class="row" style="margin:2px !important;">
                <div class="col-md-2">
                    <label>Text</label>
                </div>
                <div class="col-md-10">
                    <input type="text" id="text" style="width: 84%;" />
                </div>
            </div>
            <div class="row" style="margin:2px !important;">
                <div class="col-md-2">
                    <label>Desc</label>
                </div>
                <div class="col-md-10">
                    <textarea id="desc"></textarea>
                </div>
            </div>
            <fieldset>
                <legend>Fonts</legend>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="btnsWrapper"><b>Size</b>(<span id="sizecount">5</span>)</div>
                            <div>
                                <div><button class="btn btn-success customBtn" value="">+</button></div>
                                <div><button class="btn btn-danger customBtn" value="">-</button></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div>
                                <select id="fontstyle">
                                    <option value="Times-New-Roman">Times New Roman</option>
                                    <option value="Verdana">Verdana</option>
                                    <option value="Comic-Sans-MS">Comic Sans MS</option>
                                    <option value="WildWest">WildWest</option>
                                    <option value="Bedrock">Bedrock</option>
                                    <option value="Arial"> Arial</option>
                                    <option value="Courier"> Courier </option>
                                    <option value="Tahoma"> Tahoma</option>
                                    <option value="Times New Roman">Times New Roman</option>
                                    <option value="sans-serif">sans-serif</option>
                                </select><br />
                            </div>
                            <div class="row">
                                <div class="col-md-4"><input type="checkbox" id="isBold" /><span>Bold</span></div>
                                <div class="col-md-4"><input type="checkbox" id="isitalic" /><span>italic</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rowcustom">
                        <div class="col-md-5"><label>Text color</label> </div>
                        <div class="col-md-6">
                            <input id="textcolor" />
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="row rowcustom">
                        <div class="col-md-5"><label>Button color</label> </div>
                        <div class="col-md-6">
                            <input id="btncolor" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row rowcustom">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <input type="checkbox" /><span>Vatable</span>
                        </div>
                        <div class="col-md-3">
                            VAT Rate
                        </div>

                        <div class="col-md-2">
                            <select id="fontstyle">
                                <option value="0"></option>
                                <option value="Times-New-Roman">Times New Roman</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Comic-Sans-MS">Comic Sans MS</option>

                            </select>
                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Menu Buttons</legend>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button class="menuBtn" id="addItem">Add Item</button>
                    </div>
                    <div class="col-md-4">
                        <button class="menuBtn" id="deleteItem">Delete Item</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">

            <div class="col-md-3 "><button class="customBttn greenBg">Pizza</button></div>
            <div class="col-md-3 "><button class="customBttn pinkBg">Burgers Pizza</button></div>
            <div class="col-md-2 "> <button class="customBttn greenBg">Kebabs</button></div>
            <div class="col-md-2 "><button class="customBttn whiteBg">Side Orders </button></div>
            <div class="col-md-2 "> <button class="customBttn skyBlueBg">Drinks</button></div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-md-4 "><button class="sizeVerBtn greenBg">Sizes(3)</button></div>
                <div class="col-md-4 "><button class="sizeVerBtn pinkBg">Verieties(5)</button></div>
                <div class="col-md-4 "> <button class="sizeVerBtn greenBg">Extras(12)</button></div>
            </div>
        </div>
    </div>

    <div class="row othersArea">
        <div class="col-md-2"><button class="customBttn skyBlueBg">Meal Deals</button></div>
        <div class="col-md-2 "><button class="customBttn skyBlueBg">Cooking Instructions</button></div>
        <div class="col-md-2 "><button class="customBttn skyBlueBg">Freebies</button></div>
        <div class="col-md-2 "><button class="customBttn skyBlueBg">Special Pizza</button></div>
        <div class="col-md-1 "><button class="customBttn greenBg">Prices</button></div>
        <div class="col-md-1 "><button class="customBttn redBg">Cancel</button></div>
        <div class="col-md-1 "><button class="customBttn redBg">Exit</button></div>
    </div>
</body>

</html>
