
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/styles/menuitems.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/customscripts/myscript.js"></script>
    <title>Prices</title>

</head>
<body style="background-color: darkblue;">

    <div class="row mainDiv" style="background-color:white;">
        <div class="col-lg-12 col-md-12 col-sm-12" id="PricesitemsArea">
            @{
                Html.RenderAction("GetCategoryPrices");
            }
        </div>
    </div>

    <footer>
        <div class="row">

            @{ Html.RenderAction("GetPriceCategories"); }
            <div class="col-md-1 ">@Ajax.ActionLink("Toppings", "ExtrasPrices", new { cat = 1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "PricesitemsArea", InsertionMode = InsertionMode.Replace }, new { @class = "btn extrasCat", @style = "background-color:green;color:white;" })</div>
            <div class="col-md-1 ">@Ajax.ActionLink("Extras", "ExtrasPrices", new { cat = 2 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "PricesitemsArea", InsertionMode = InsertionMode.Replace }, new { @class = "btn extrasCat", @style = "background-color:green;color:white;" })</div>
            <div class="col-md-2 "><button class="customBttn redBg" onclick="location.href='@Url.Action("MenuItem", "ManagementSection")'">Exit</button></div>


        </div>
    </footer>
    <style>
        .extrasCat {
            font-weight: bold !important;
            font-size: 17px !important;
            margin: 2px;
            border: groove !important;
            border-radius: 0px !important;
            height: 70px !important;
            width: 100%;
            max-width: 100%;
            white-space: normal !important;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>


</body>

</html>
<script>
    jQuery(document).ready(function () {

        jQuery(document).on("click", ".bttn", function () {
            $('input:submit').prop("disabled", true);
            $('input:text').attr('readonly', true);
            $('input:text').css('border', 'none');
            jQuery(this).siblings('input:submit').prop("disabled", false);
            //$(this).hide();
            jQuery(this).closest('tr').find('input:text').attr('readonly', false);
            jQuery(this).closest('tr').find('input:text').css('border', 'double thin');
        });

        $(document).on("click", ".btnSubmit", function (evt) {
            evt.preventDefault();
            var data = [];
            var price = {};
            var c = 0;
            $(this).closest('tr').each(function () {
                $(this).find("td").each(function (index) {

                    data.push($(this).find('.fields').val());
                    //alert($(this).find('.fields').val());

                });

            });
            //alert("length" + data.length);

            if (data.length === 5) {
                price = { ItemId: data[0], price1: data[1], price2: data[2], price3: data[3] }

            }
            else if (data.length === 4) {
                price = { ItemId: data[0], price1: data[1], price2: data[2] }

            }
            else if (data.length === 3) {
                price = { ItemId: data[0], price1: data[1] }

            }

            $.ajax({

                url: '/ManagementSection/UpdatePrices',
                type: 'POST',
                data: JSON.stringify({ prices: price }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('input:text').attr('readonly', true);
                    $('input:text').css('border', 'none');

                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        });

        $(document).on("click", ".btnExtrasSubmit", function (evt) {
            evt.preventDefault();
            var data = [];
            var price = {};
            var c = 0;
            $(this).closest('tr').each(function () {
                $(this).find("td").each(function (index) {

                    data.push($(this).find('.fields').val());
                    //alert($(this).find('.fields').val());

                });

            });

            price = { ItemId: data[0], price1: data[1], price2: data[2], price3: data[3] }

            $.ajax({

                url: '/ManagementSection/UpdateExtrasPrices',
                type: 'POST',
                data: JSON.stringify({ prices: price }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('input:text').attr('readonly', true);
                    $('input:text').css('border', 'none');

                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        });

    });


</script>

