@model IEnumerable<DataLayer.Entities.OrderDetails>

@using (Html.BeginForm("OrderComplete","Home",FormMethod.Post))
{
    <table class="table table-bordered" id="itemsTable">
        <thead>
            <tr>
                <th>Qty</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody class="tableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemQty</td>
                    <td>@item.ItemName</td>
                    <td>@item.ItemTotalPrice</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Order Complete" />
}