<div style="background-color:darkblue">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">7</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">8</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">9</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>5</span></button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"> <span>5</span>%</button></div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">4</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">5</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">6</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>10</span></button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"><span>10</span>%</button></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">1</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">2</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">3</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>20</span></button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"><span>15</span>%</button></div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button id="doublezero">00</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">0</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfontBtn" id="fullAmount">Full Amount</button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>50</span></button></div>
                        <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"><span>25</span>%</button></div>

                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <button class="newBg selected">Cash</button>
                    <button class="customBttn BlueBg">Cheque</button>
                    <button class="customBttn BlueBg">Credit Card</button>
                    <button class="customBttn BlueBg">Voucher</button>
                    <button class="customBttn greenBg" id="clearCash">Clear Cash</button>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button class="customBttn BlueBg">Print</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @*<button class="customBttn BlueBg"></button>*@
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button class="customBttn BlueBg">Exit</button>
                </div>
            </div>
        </div>
    </div>
</div>