
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/styles/style.css" rel="stylesheet" />

    <title>Home</title>
</head>
<body>

    <header class="loginHeader">

        <div class="leftHeader">
            @*45 Minute Delay -*@ 
            @DateTime.Now.ToString("dd/MM/yyyy")
        </div>


        <div style="display: inline-block;">
            Reports
        </div>
        <div class="rightHeader">
            @DateTime.Now.ToString("HH:mm:ss")
        </div>
    </header>

    <div style="float:right;margin-top:35px;margin-right:50px;">
        <button class="largeBtn whiteBg" onclick="location.href='@Url.Action("SalesReport", "ReportsManagement")'">
            Sales Report
        </button><br />
        <button class="largeBtn skyBlueBg">
            
        </button><br />

        <button class="largeBtn greenBg">
            
        </button><br />
        <button class="largeBtn orangeBg">
            
        </button><br />
        <button class="largeBtn orangeBg">
            
        </button><br />
        <button class="largeBtn whiteBg">
            
        </button><br />

        <button class="largeBtn backBtn" onclick="location.href='@Url.Action("MainMenu", "Home")'">
            Back
        </button><br />

    </div>

</body>
</html>
